Django==5.2
dj-database-url==2.3.0
gunicorn
psycopg2-binary

# ML/Data science libraries (used in recommendation, etc.)
numpy==1.24.0
pandas==1.5.3
matplotlib==3.6.3
seaborn==0.11.2
scikit-learn==1.1.3
